# Data handling
pandas
numpy

# API requests
requests
requests-cache
retry-requests

# Machine learning
scikit-learn
tensorflow
cvxpy 

# PV model
pvlib
openmeteo-requests

# OPC communication
opcua

# Excel support
openpyxl

# Plotting (used in notebook)
matplotlib


# when all works: pip freeze > requirements.txt